{% extends "nutrition.html" %}
{% block col8 %}

  <div class="col-xs-12 col-md-9">
    <h3>Meals</h3>

    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th style="text-align:center;" colspan="5">健康减肥午 / 晚餐</th>
      </tr>
      </thead>
      <tbody>
      <tr class="active">
        <td>低脂汤</td>
        <td>主食</td>
        <td>蔬 / 果</td>
        <td>蛋白质</td>
        <td>均衡餐</td>
      </tr>
      <tr>
        <td>紫菜虾皮汤</td>
        <td>玉米窝头</td>
        <td>黄瓜</td>
        <td>豆腐</td>
        <td>玉米窝头 + 凉拌海带丝 + 清蒸鱼 (先喝汤)</td>
      </tr>
      <tr>
        <td>菠菜汤</td>
        <td>杂粮粥(小米)</td>
        <td>西红柿</td>
        <td>豆腐丝</td>
        <td>杂粮米饭 + 西红柿炖牛肉 + 凉拌菠菜 (先喝汤)</td>
      </tr>
      <tr>
        <td>西红柿蛋汤</td>
        <td>全麦馒头</td>
        <td>生菜</td>
        <td>瘦牛肉</td>
        <td>杂粮馒头 + 凉拌黄瓜 + 宫保鸡丁 (先喝汤)</td>
      </tr>
      <tr>
        <td>酸辣汤</td>
        <td>杂粮馒头</td>
        <td>菠菜等绿叶菜</td>
        <td>鸡蛋</td>
        <td>鲜玉米 +　小米粥　＋ 凉拌油麦菜 + 青椒豆腐皮 (先喝汤)</td>
      </tr>
      <tr>
        <td>黄瓜虾仁汤</td>
        <td>小米 + 大米饭</td>
        <td>海带</td>
        <td>鱼肉, 去皮鸡胸肉</td>
        <td>红薯 + 小米粥 + 凉拌西红柿 +　虾仁炖豆腐　（餐前喝汤）</td>
      </tr>
      <tr>
        <td>丝瓜汤</td>
        <td>鲜玉米</td>
        <td>苹果等水果</td>
        <td>虾仁</td>
        <td>全麦馒头 + 凉拌豆腐丝 + 清蒸西兰花 + (餐前喝汤)</td>
      </tr>
      </tbody>
    </table>

  </div>
{%- endblock %}