{% extends "layout.html" %}
{% block body %}
  {#    <h2>welcome Login = {{ g.user }}</h2>#}
  <div class="container">
    <div class="row">
      {%- block col8 %}
        <div class="col-xs-12 col-md-9">
          <h2>营养</h2>

        </div>{% endblock -%}
      <div class="col-md-3">
        <ul class="nav">
          <li><a href="/nutrition/breakfast">早餐推荐</a></li>
          <li><a href="/nutrition/meals">午 / 晚餐推荐</a></li>
          <li><a href="/nutrition/recovery">Recovery</a></li>
          <li><a href="/">cde</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}